* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  background-color: #0b1124;
}
.new-movies {
  margin: 0.5em;
  letter-spacing: 0.2em;
  color: #efefe3;
  font-family: segoe;
}
.movie {
  padding: 1em;
}
.movie-title {
  font-family: segoe;
  font-weight: semi-bold;
  letter-spacing: 0.1em;
  color: #efefe3;
}
.movie-poster {
  width: 100%;

  box-shadow: 0 4px 8px 0 rgba(16, 108, 145, 0.2),
    0 6px 20px 0 rgba(4, 44, 2, 0.19);
  z-index: -6;
  border-radius: 20px;
}
.movie-info {
  list-style-type: none;
  display: flex;
}
.movie-more-info {
  text-decoration: blink;
  color: #5d9dd6;
  font-size: 1.3em;
}
.movie-show-time {
  flex-direction: row;
  flex-grow: 2;
}
.movie-language {
  font-size: 1.3em;
  flex-grow: 1;
  color: #5d9dd6;
}
