//Variables

//Form factor
$break-small: 320px;
$break-large: 1200px;



$primary-font:'Arial';
$font-title:'Arial';

$backgground-gradients:(
    'dark': #c70e0e,
    'ligtht':#e6e6e6
    );

    
$max-content-width:900px;

//max dim for the poster
$max-poster-width:350px;
$max-poster-height:350px;

//reset browser realestate
*{
    margin: 0;
    padding: 0;
}

//Bacground  color of the browse
body {
    height: 100%;
    margin: 0;
    background-image: linear-gradient(179deg, map-get($backgground-gradients,dark), map-get($backgground-gradients, ligtht));
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}

.movie-list-container {
    background-color: #ffffff;
    //center the container to the screen
    display: block;
    margin-left: auto;
    margin-right: auto;

    height: 100%;
    
    padding-top: 10px;
    display: list-item;//WHATS LIST ITEM?
    grid-gap: 10px;
    position: relative;
    max-width: $max-content-width;

    list-style: none;
 
    .movie{
        list-style: none;
        grid-template-columns: 2fr;
        grid-template-rows :repeat(4, 1fr);
        grid-template-areas: "title title"
                            "poster poster"
                            "movie-info movie-info"
                            "book more-info";
        
        .movie-container{
            
            .movie-title{
                
                grid-area: title;
                font-weight: bolder;
                font-family: $font-title, Arial, Helvetica, sans-serif;
                padding: 20px 0;
                padding-left: 5px;
                letter-spacing: .1rem;
                //text-align: center;
                            
            }
            .movie-poster{
                grid-area: poster;
                align-items: center;
                
                .movie-poster-image{
                    display: block;
                    
                    border: 0.5px solid;
                    border-color: #c0b9b9;
                    margin-left: auto;
                    margin-right: auto;
                    
                    //Responsive image resizing 
                    //Absolte max width/height for large screens
                    @media screen and (min-width: $break-large) {
                        width: $max-poster-width;
                        height: $max-poster-height;                    
                      }

                    //Width to scale to 100% of the smaller screens
                    @media screen and (min-width: $break-small) {
                        max-width: 100%;
                    }

                }        
            }
            .movie-info{
                list-style:none;
                grid-area: movie-info;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                justify-content: space-evenly;
                padding: 5px;

                .movie-next-session-date{
                    padding:inherit;
                }
                .movie-language{
                    padding:inherit;

                }
                .movie-next-session-location{
                    padding:inherit;

                }
            }
            .book-movie{
                display: inline;
                grid-area: book;
                border: solid #970e0e;
            }
            .show-movie-details{
                display: inline;
                grid-area: more-info;
                text-decoration: underline;
            }
        }
    }
}

